
@{
    ViewBag.Title = "About";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="header">
      

        <div class="home">
            <div class="info">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing  <br>elit. Illo officiis ipsum, ad magni adipisci ,<br> maiores asperiores sequi nisi nulla reprehenderit eveniet nostrum, <br> obcaecati dolorem odit facilis fuga quasi quia esse.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Perferendis nostrum placeat vitae alias, cupiditate <br> atque earum harum, tenetur sed explicabo doloremque, odio beatae <br> facilis veritatis possimus? Reiciendis aliquam suscipit enim.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi <br> facere vitae impedit sunt neque quis, corporis <br> dolore sit doloremque ex totam quibusdam obcaecati reprehenderit <br>suscipit pariatur, eum labore, ducimus accusantium!

                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nobis reiciendis <br> molestiae deserunt, voluptatum <br> aliquid tenetur voluptas, tempore soluta voluptates nisi mollitia eum, <br> qui eius numquam fugit pariatur et quibusdam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Officia eos qui dolore odit odio at dolores. Id unde placeat <br>sapiente tenetur! Dolorem nulla ratione <br> saepe at harum nostrum, vitae maiores.
                </p>
            </div>

        </div>
        
    </div>
</body>
</html>

