
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="header">
       

        <div class="home">
            <img src="~/photo/halll.jpg" alt="yeah" class="graddy">
            <p class="me">
                Names: Neo Sylvester <br><br>
                Surname: Khwanyane <br><br>
                Qualification: Diploma in Information Technology <br><br>
                Institution: Central University of Technology <br><br>
                Coding Experience: 4 years, this being the fifth one <br><br>
                Skills: C#, .NET Core, SQL , Dart, Flutter, HTML and CSS
            </p>
        </div>
        
    </div>
</body>
</html>

