
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="header">
       

        <div class="home">
           

                <h1>
                    Central University of Technology, Free State
                </h1>
                <br>
                <p class="intro">
                    A public university with two campuses with on campus <br>
                    accommodation for undergraduates,university residences that are in <br>
                    close proximity to the campus, stadiums, basketball, netball as well as tennis courts. <br><br>
                    Located in one of South Africas capital cities, Bloemfontein
                    <br><br>
                    Want to study here?
                </p>
                <a href="https://www.cut.ac.za/" class="btn">Apply Here</a>
           
           
        </div>
       
    </div>
</body>
</html>

