
@{
    ViewBag.Title = "Media";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="header">
      

        <div class="pics">

            <div class="row">
                <div class="column">
                    <img src="~/photo/library.jpg" alt="hall">
                    <h4> Library</h4>
                    <p>Bloemfontein Campus</p>
                </div>
                <div class="row">
                    <div class="column">
                        <img src="~/photo/exam.jpg" alt="hall">
                        <h4> Exam Department Building</h4>
                        <p>Bloemfontein Campus</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <img src="~/photo/hotel.jpg" alt="hall">
                    <h4> Hotel School</h4>
                    <p>Bloemfontein Campus</p>
                </div>
                <div class="row">
                    <div class="column">
                        <img src="~/photo/gate.jpg" alt="gate">
                        <h4> Gate</h4>
                        <p>Bloemfontein Campus</p>
                    </div>
                </div>
            </div>



        </div>
        
    </div>
</body>
</html>

